coco_converted/
splitted_dataset/
coco_converted/
coco_converted2/
coco_converted_tiled/
(copie).jpg
c77ec1edeaf25c725ca0693b7568ee0b.jpg
Image collée.png
runs/
yolov8n.pt
yolov8n-cls.pt
yolov8s-cls.pt
yolov8m-cls.pt
.vscode/launch.json
requested_CSVs/old/
requested_CSVs/photos_to_scrap.csv
__pycache__/
csv_manipulation/__pycache__/
calibration_image_sample_data_20x128x128x3_float32.npy
